@import url(globalstyle.css);
.container {
  width: 100%;
  /* min-height: 100vh; */
  background: linear-gradient(215.92deg, #ffffff 21.89%, #e2f0fd 79%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 16px;
  background-color: var(--color-neutral-white);
  box-shadow: var(--shadow-component-mobile);
}

.container__header__logo__img {
  height: 17px;
  cursor: pointer;
}
.container__header__hamburgerMenu {
  cursor: pointer;
}
.container__header__signInBtn__a {
  font-family: var(--font-family);
  font-weight: var(--font-weight-mobile-button);
  color: var(--color-primary-main);
  cursor: pointer;
}
.container__h1 h1 {
  font-family: var(--font-family);
  color: var(--color-neutral-400);
  font-size: var(--font-size-mobile-h1);
  font-weight: var(--font-weight-mobile-h1);
  line-height: var(--font-LH-mobile-h1);
  text-align: center;
  margin: 40px 16px 0 16px;
}
.container__caption p {
  font-family: var(--font-family);
  color: var(--color-neutral-black);
  font-size: var(--font-size-mobile-subtitle);
  font-weight: var(--font-weight-mobile-subtitle);
  line-height: var(--font-LH-mobile-subtitle);
  text-align: center;
  padding: 16px 16px 0 16px;
  margin-bottom: 10px;
}
.container__caption2 p {
  font-family: var(--font-family);
  color: var(--color-neutral-black);
  font-size: var(--font-size-mobile-caption);
  font-weight: var(--font-weight-mobile-caption);
  line-height: var(--font-LH-mobile-caption);
  text-align: center;
  padding: 0px 16px 64px 16px;
}
.container__primaryTiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 8px;
  margin: 0 16px 0 16px 0;
  width: 360px;
}
.container__primaryTiles__tile {
  font-family: var(--font-family);
  font-size: var(--font-size-mobile-button);
  font-weight: var(--font-weight-mobile-button);
  line-height: var(--font-LH-mobile-button);
  border: var(--border);
  border-radius: var(--border-radius-primary-tile);
  background-color: var(--color-neutral-white);
  color: var(--color-neutral-400);
  width: 30%;
  /* height: ; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
white-space: nowrap;
  padding: 16px 24px;
  cursor: pointer;
}
.container__primaryTiles__tile:hover{
  border: 1px solid black;
}
.--aghsat1 {
  position: relative;
}
.--aghsat2 {
  position: relative;
}
.offer-label1 {
  position: absolute;
  top: -16%;
  left: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-mobile-overline);
  font-weight: var(--font-weight-mobile-overline);
  line-height: var(--font-LH-mobile-overline);
  border-radius: var(--border-radius-primary-tile);
  padding: 3.5px 8px 3.5px 8px;
  background-color: #ebf3e9;
  color: #3c8825;
}
.container__divider {
  width: 80%;
  border-top: 1px solid var(--color-primary-light);
  margin: 24px 16px 0 16px;
}
.container__secondaryTiles {
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
  margin: 24px 16px 24px 16px;
}
.container__secondaryTiles__tile {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px 16px 12px 16px;
  font-family: var(--font-family);
  font-size: var(--font-size-mobile-caption);
  font-weight: var(--font-weight-mobile-caption);
  line-height: var(--font-LH-mobile-caption);
  background-color: var(--color-neutral-white);
  border-radius: var(--border-radius-secondary-tile);
  border: var(--border);
  cursor: pointer;
}
.container__secondaryTiles__tile:hover{
  border: 1px solid black;
}
.--safar{
  order: 4;
}
.--asansor{
order: 2;
}
.--enferadi{
order: 1;
}
.--sayer{
  order: 5;
}
.--atash{
  order: 3;
}
.container__image {
  width: 100%;
}
.container__image img {
  width: 100%;
}
.container2__image {
  width: 100%;
  padding-bottom: 80px;
}
.container2__image img {
  width: 100%;
}
.container3 {
  width: 100%;
  /* min-height: 100vh; */
  background: var(--color-neutral-25);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container3__containerA{
  width: 360px;
  flex-direction: column;
  align-items: center;
}
.container3__h2 h2 {
  font-family: var(--font-family);
  font-size: var(--font-size-mobile-h2);
  font-weight: var(--font-weight-mobile-h2);
  line-height: var(--font-LH-mobile-h2);
  color: var(--color-neutral-500);
  text-align: center;
  margin: 40px 16px 16px 16px;
  width: 100%;
}
.container3__caption p {
  font-family: var(--font-family);
  font-size: var(--font-size-mobile-body);
  font-weight: var(--font-weight-mobile-body);
  line-height: var(--font-LH-mobile-body);
  color: var(--color-neutral-300);
  text-align: right;
  direction: rtl;
  padding: 0 16px 0 16px;
  width: 100%;
}
.container3__items {
  display: flex;
  flex-direction: column;
  margin: 16px 64px 0 64px;
  gap: 16px;
}
.container3__items__item {
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;
  padding: 12px 64px 12px 64px;
  font-family: var(--font-family);
  background-color: var(--color-neutral-white);
  border-radius: var(--border-radius-container3);
}
.container3__items__item p {
  font-size: var(--font-size-mobile-caption);
  font-weight: var(--font-weight-mobile-caption);
  line-height: var(--font-LH-mobile-caption);
  color: var(--color-neutral-black);
}
.container3__items__item__num {
  font-size: var(--font-size-mobile-h3);
  font-weight: var(--font-weight-mobile-h3);
  line-height: var(--font-LH-mobile-h3);
  color: var(--color-secondary-main);
  padding-left: 16px;
}
.container3__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-main);
  border-radius: var(--border-radius-button);
  margin: 32px 90px;
}
.container3__button__request {
  font-family: var(--font-family);
  font-size: var(--font-size-mobile-button);
  font-weight: var(--font-weight-mobile-button);
  line-height: var(--font-LH-mobile-button);
  color: var(--color-neutral-white);
  padding: 12px 24px 12px 16px;
  cursor: pointer;
  white-space: nowrap;
}
.container3__button img {
  padding: 8px 0 8px 32px;
}
.container4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 80px 16px 0 16px;
}
.container4__reminder {
  border: 1px solid var(--color-neutral-black);
  border-radius: var(--border-radius-primary-tile);
  width: 100%;
}
.container4__header {
  width: 100%;
  background-color: var(--color-secondary-main);
  border-radius: 24px 24px 0 0;
  padding: 64px 32px 24px 32px;
  text-align: center;
  position: relative;
}
.container4__header h2 {
  font-family: var(--font-family);
  font-size: var(--font-size-mobile-h2);
  font-weight: var(--font-weight-mobile-h2);
  line-height: var(--font-LH-mobile-h2);
  color: var(--color-neutral-black);
}
.container4__header__img {
  position: absolute;
  top: -14px;
  right: 50px;
  height: 50px;
}
.container4__header__img2 {
  position: absolute;
  top: -14px;
  left: 50px;
  height: 50px;
}
.container4__body__reminderInputs {
  width: 100%;
  padding: 24px 32px 32px 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  direction: rtl;
  gap: 12px;
}
.container4__body__reminderInputs__combo {
  width: 40%;
  font-family: var(--font-family);
  font-size: var(--font-size-mobile-caption);
  font-weight: var(--font-weight-mobile-caption);
  line-height: var(--font-LH-mobile-caption);
  color: var(--color-neutral-300);
  padding: 8px;
  height: 40px;
  border-radius: var(--border-radius-button);
  border: var(--border100);
  cursor: pointer;
}

/* رنگ فلش کمبوباکس باید اصلاح گردد */
SELECT {
  background: url(../images/arrow_drop_down.svg)
    no-repeat;
  background-position: 10px center !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  padding-left: 2rem !important;
  background-size:
    20px 20px,15px 15px,1px 1.5em;
    
    
}


.container4__body__reminderInputs__text {
  width: 40%;
  font-family: var(--font-family);
  font-size: var(--font-size-mobile-caption);
  font-weight: var(--font-weight-mobile-caption);
  line-height: var(--font-LH-mobile-caption);
  color: var(--color-neutral-300);
  padding: 8px;
  height: 40px;
  border-radius: var(--border-radius-button);
  border: var(--border100);
}
.container4__body__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
.container4__body__button__submit {
  font-family: var(--font-family);
  font-size: var(--font-size-mobile-button);
  font-weight: var(--font-weight-mobile-button);
  line-height: var(--font-LH-mobile-button);
  color: var(--color-neutral-white);
  background-color: var(--color-primary-main);
  border-radius: var(--border-radius-button);
  padding: 8px 24px;
  cursor: pointer;
}
.container5 {
  display: flex;
  justify-content: center;
}
.container5__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  margin: 80px 56px 0 56px;
  direction: rtl;
}
.container5__items__item {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  border: var(--border200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-size: var(--font-size-mobile-overline);
  font-weight: var(--font-weight-mobile-overline);
  line-height: var(--font-LH-mobile-overline);
  color: var(--color-neutral-500);
  padding: 24px;
  text-align: center;
}
.container6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container6__cards__card2,
.container6__cards__card3,
.container6__cards__card4 {
  display: none;
}

.container6__cards__card1 {
  margin: 147px 32px 32px 32px;
  width: 296px;
  padding: 104px, 0, 24px, 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-component-mobile);
  border-radius: var(--border-radius-container3);
  position: relative;
}

.container6__cards__h3 {
  font-family: var(--font-family);
  font-size: var(--font-size-mobile-h3);
  font-weight: var(--font-weight-mobile-h3);
  line-height: var(--font-LH-mobile-h3);
  color: var(--color-neutral-black);
  padding-top: 104px;
}
.container6__cards__caption p {
  font-family: var(--font-family);
  font-size: var(--font-size-mobile-body);
  font-weight: var(--font-weight-mobile-body);
  line-height: var(--font-LH-mobile-body);
  color: var(--color-neutral-400);
  text-align: justify;
  text-justify: inter-word;
  padding: 8px 48px 0 48px;
  direction: rtl;
}
.container6__cards__img {
  position: absolute;
  top: -67px;
}
.container6__cards__btn {
  margin: 32px 0 24px 0;
  cursor: pointer;
}
.container6__cards__btn__more {
  padding: 8px 24px;
text-decoration: none;
  font-family: var(--font-family);
  font-size: var(--font-size-mobile-button);
  font-weight: var(--font-weight-mobile-button);
  line-height: var(--font-LH-mobile-button);
  color: var(--color-neutral-white);
  background-color: var(--color-primary-main);
  border-radius: var(--border-radius-button);
}
.container6__actionBtns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.container6__actionBtns__leftArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-neutral-white);
  box-shadow: var(--shadow-component-mobile);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.container6__actionBtns__rightArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-neutral-white);
  box-shadow: var(--shadow-component-mobile);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.container6__actionBtns__activeBullets,
.container6__actionBtns__passiveBullets {
  cursor: pointer;
}
.container7{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-main);
  margin-top: 80px ;
}
.container7__h2 h2{
  font-family: var(--font-family);
  font-size: var(--font-size-mobile-h2);
  font-weight: var(--font-weight-mobile-h2);
  line-height: var(--font-LH-mobile-h2);
  color: var(--color-neutral-white);
  padding-top: 40px;
}
.container7__caption p{
  font-family: var(--font-family);
  font-size: var(--font-size-mobile-body);
  font-weight: var(--font-weight-mobile-body);
  line-height: var(--font-LH-mobile-body);
  color: var(--color-neutral-white);
  text-align: center;
  padding: 16px 48px 40px 48px;
  direction:rtl
}
.footer1{
  display: flex;
  flex-direction: column;
  background: linear-gradient(180.22deg, #F9F4E7 0.2%, #E6F6F9 99.83%);;
}
.footer1__container8{
  display: flex;
  flex-direction: row;
  gap: 80px;
  direction: rtl;
  width: 100%;
  padding: 32px 24px 40px 24px;
}
.footer1__container8__insureList__h1 ,
.footer1__container8__accessList__h1 {
  margin-bottom: 8px;
}
.footer1__container8__insureList__h1 h6,
.footer1__container8__accessList__h1 h6{
  font-family: var(--font-family);
  font-size: var(--font-size-mobile-caption);
  font-weight: var(--font-weight-mobile-caption);
  line-height: var(--font-LH-mobile-caption);
  color: var(--color-primary-main);
}
.footer1__container8__insureList_list a ,
.footer1__container8__accessList_list a {
  text-decoration: none;
}
.footer1__container8__insureList_list ul ,
.footer1__container8__accessList_list ul {
  list-style-type:none;
}
.footer1__container8__insureList_list li a ,
.footer1__container8__accessList_list li a {
font-family: var(--font-family);
  font-size: var(--font-size-mobile-caption);
  font-weight: var(--font-weight-mobile-caption);
  line-height: var(--font-LH-mobile-caption);
  color: var(--color-neutral-500);
}
.footer1__container9{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  direction: rtl;
  margin: 0 24px 16px 24px;
}
.footer1__container9__logo img{
  width: 73px;
}
.footer1__container9__caption p{
  font-family: var(--font-family);
  font-size: var(--font-size-mobile-caption);
  font-weight: var(--font-weight-mobile-caption);
  line-height: var(--font-LH-mobile-caption);
  color: var(--color-neutral-500);
  margin: 8px 0 16px 0;
}
.footer1__container9__contactUs{
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.footer1__container9__contactUs__address,
.footer1__container9__contactUs__tell,
.footer1__container9__contactUs__email
{
  display: flex;
  align-items: center;

}
.footer1__container9__contactUs__address p,
.footer1__container9__contactUs__tell p,
.footer1__container9__contactUs__email p
{
  direction: rtl;
  font-family: var(--font-family);
  font-size: var(--font-size-mobile-caption);
  font-weight: var(--font-weight-mobile-caption);
  line-height: var(--font-LH-mobile-caption);
  color: var(--color-neutral-500);
  padding-right: 16px;
}
.footer1__container10{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}
.footer1__container10__img {
  height: 80px;
  width: 80px;
  background-color: var(--color-neutral-white);
  display: flex;
  align-items: center;
  justify-content: center;
} 
.footer2__container11{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #2151CC -2.05%, #739FF2 100%);
  flex-direction: column;
  padding-bottom: 24px;
  /* padding: 90px 24px; */
}
.footer2__container11__caption p{
direction: rtl;
  font-family: var(--font-family);
  font-size: var(--font-size-mobile-caption);
  font-weight: var(--font-weight-mobile-caption);
  line-height: var(--font-LH-mobile-caption);
  color: var(--color-neutral-white);
  text-align: center;
  padding: 24px 70px;
}
.footer2__container11__socialIcons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.footer2__container11__socialIcons__icon{
  background: var(--color-neutral-white);
  padding: 6.4px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.container__header2{
  display: none;
}
.containerfloat__tamdid{
  position: fixed;
  bottom: 16px;
  left: 16px;
}
.containerfloat__support{
  position: fixed;
  bottom: 16px;
  right: 16px;
}
 /* ===================================mediaquery=>1440============================== */
@media(min-width:1440px){
    .container__header__hamburgerMenu
  {
    display: none;
  }
  .container__header{
    display: flex;
    padding: 0 144px;
  }
  .container__header2{
    display: flex;
    flex-direction: row;
  }
  .container__header2 li a{
  text-decoration: none;
  color: var(--color-neutral-black);

}
.container__header2 ul{
  list-style: none;
  direction: rtl;
  padding-right: 40px;
  font-family: var(--font-family);
  font-size: var(--font-size-desktop-body);
  font-weight: var(--font-weight-desktop-body);
  line-height: var(--font-LH-desktop-body);
}
.container__header2 li{
  display: inline-block;
  padding: 0 24px;
}
.container__header2 li img{
  padding-right: 10px;
}
.container__header__media{
  display: flex;
  justify-content: center;
}
.container__header__signInBtn{
  border: var(--borderPrimary);
  border-radius: var(--border-radius-primary-tile);
  padding: 8px 16px;
  font-size: var(--font-size-desktop-button);
  font-weight: var(--font-weight-desktop-button);
  line-height: var(--font-LH-desktop-button);
}
.container__h1 h1{
  font-size: var(--font-size-desktop-h1);
  font-weight: var(--font-weight-desktop-h1);
  line-height: var(--font-LH-desktop-h1);
}
.container__caption p{
  font-size: var(--font-size-desktop-subtitle);
  font-weight: var(--font-weight-desktop-subtitle);
  line-height: var(--font-LH-desktop-subtitle);
}
.container__caption2 p{
  font-size: var(--font-size-desktop-body);
  font-weight: var(--font-weight-desktop-body);
  line-height: var(--font-LH-desktop-body);
}
.offer-label1 {
  position: absolute;
  top: -16%;
  left: 0;
  font-size: var(--font-size-desktop-overline);
  font-weight: var(--font-weight-desktop-overline);
  line-height: var(--font-LH-desktop-overline);
  border-radius: var(--border-radius-primary-tile);
  padding: 8px 16px;
}
.container__primaryTiles__tile {
  font-size: var(--font-size-desktop-button);
  font-weight: var(--font-weight-desktop-button);
  line-height: var(--font-LH-desktop-button);
  border-radius: var(--border-radius-container3);
  width: 18%;
  padding: 24px;
}

.container__primaryTiles__tile img{
  width: 72px;
  height: 72px;
}
.container__primaryTiles {
  gap: 24px;
  margin: 0 16px 0 16px 0;
  width: 969px;
  flex-direction: row-reverse;
}
.container__secondaryTiles{
  width: 969px;
  gap: 24px;
  padding: 0 20px;
}
.container__secondaryTiles__tile{
  justify-content: space-between;
  padding-left: 50px;
  width: 30%;
  font-size: var(--font-size-desktop-body);
  font-weight: var(--font-weight-desktop-body);
  line-height: var(--font-LH-desktop-body);
  flex-direction: row-reverse;
}
.--safar{
order: 1;
}
.--asansor{
order: 3;
}
.--enferadi{
order: 2;
}
.--sayer{
  order: 4;
}
.--atash{
  order: 5;
}
.container3{
  flex-direction: row-reverse;
  width: 100%;
}
.container3__containerA{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  /* padding-right: 144px; */
  /* background-color: #3c8825; */
}
.container3__h2{
width: 100%;
}
.container3__h2 h2 {
  font-size: var(--font-size-desktop-h2);
  font-weight: var(--font-weight-desktop-h2);
  line-height: var(--font-LH-desktop-h2);
  color: var(--color-neutral-500);
  text-align: right;
  margin: 0;
  padding: 48px 144px 16px 0;
}  
.container3__caption p{
  font-size: var(--font-size-desktop-body);
  font-weight: var(--font-weight-desktop-body);
  line-height: var(--font-LH-desktop-body);
  padding: 0 144px 16px 180px;
}
.container3__items{
  flex-direction: row-reverse;
  padding: 0 144px 40px 0;
  white-space: nowrap;
  margin: 0;
  width: 100%;
}
.container3__items p{
  font-size: var(--font-size-desktop-body);
  font-weight: var(--font-weight-desktop-body);
  line-height: var(--font-LH-desktop-body);
}
.container3__items__item {
  padding: 10px 24px;
}
.container3__button{
  margin: 0 auto 48px auto;
  padding: 0;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-desktop-button);
  font-weight: var(--font-weight-desktop-button);
  line-height: var(--font-LH-desktop-button);
}
.container3__img{
  display: flex;
  justify-content: center;
  align-items: center;
padding: 0 0 0 144px ;
margin-bottom: -150px;
}
.container3__img img{
  width: 520px;
}

.container4__header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  border-radius: 32px 32px 0 0;
}
.container4__header h2 {
  font-size: var(--font-size-desktop-h2);
  font-weight: var(--font-weight-desktop-h2);
  line-height: var(--font-LH-desktop-h2);
}
.container4__body__reminderInputs{
  gap: 24px;
  padding-top: 48px;
}
.container4__body__reminderInputs__combo{
  width: 30%;
}
.container4__body__reminderInputs__text {
  width: 30%;
}
.container4__reminder{
  max-width: 956px;
border-radius: var(--border-radius-container3);

}
.container4__body__button{
 padding: 30px 0; 
}

.container5__items__item {
  width: 152px;
  height: 152px;
  font-size: var(--font-size-desktop-overline);
  font-weight: var(--font-weight-desktop-overline);
  line-height: var(--font-LH-desktop-overline);
  white-space: nowrap;
}
.container5__items {
  gap: 48px;
}
.container5__items__item img{
  width: 56px;
  height: 56px;
}
.container6__cards__card1,
.container6__cards__card2,
.container6__cards__card3,
.container6__cards__card4 {
  display: flex;
  margin: 186px 0 32px 0;
  width: 296px;
  padding: 20px 0 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-component-mobile);
  border-radius: var(--border-radius-container3);
  position: relative;
}
.container6__cards__h3 {
  font-size: var(--font-size-desktop-h3);
  font-weight: var(--font-weight-desktop-h3);
  line-height: var(--font-LH-desktop-h3);
}
.container6__cards__caption p {
  font-size: var(--font-size-desktop-body);
  font-weight: var(--font-weight-desktop-body);
  line-height: var(--font-LH-desktop-body);
  padding: 8px 32px 0 32px;

}
.container6__cards__btn__more {
  font-size: var(--font-size-desktop-button);
  font-weight: var(--font-weight-desktop-button);
  line-height: var(--font-LH-desktop-button);
}
.container6{
  padding: 0 144px;
}
.container6__cards {
  width: 100%;
  gap: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container6__actionBtns{
  justify-content: space-between;
}
.container7__h2 h2{
  font-size: var(--font-size-desktop-h2);
  font-weight: var(--font-weight-desktop-h2);
  line-height: var(--font-LH-desktop-h2);
}
.container7__caption p{
  font-size: var(--font-size-desktop-body);
  font-weight: var(--font-weight-desktop-body);
  line-height: var(--font-LH-desktop-body);
}
.footer1{
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 72px 144px;
}
.footer1__container9{
  order: -1;
  width: 36%;
}
.footer1__container9__caption p{
  font-size: var(--font-size-desktop-caption);
  font-weight: var(--font-weight-desktop-caption);
  line-height: var(--font-LH-desktop-caption);
}
.footer1__container9__contactUs__address p,
.footer1__container9__contactUs__tell p,
.footer1__container9__contactUs__email p
{
  font-size: var(--font-size-desktop-caption);
  font-weight: var(--font-weight-desktop-caption);
  line-height: var(--font-LH-desktop-caption);
  white-space: nowrap;
}
.footer1__container10{
width: 24%;
}

.footer1__container8{
width: 30%;
padding: 0;
}
.footer1__container8__insureList__h1 h6,
.footer1__container8__accessList__h1 h6{
  font-size: var(--font-size-desktop-caption);
  font-weight: var(--font-weight-desktop-caption);
  line-height: var(--font-LH-desktop-caption);
}
.footer1__container8__insureList_list li a ,
.footer1__container8__accessList_list li a {
  font-size: var(--font-size-desktop-caption);
  font-weight: var(--font-weight-desktop-caption);
  line-height: var(--font-LH-desktop-caption);
}
.footer1__container8__insureList_list li,
.footer1__container8__accessList_list li{
  padding: 5px 0 0 0;
}
.footer2__container11{
  width: 100%;
  background-color: #3c8825;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding:30px 144px 30px 144px;
  margin: 0;
}
.footer2__container11__caption p{
  font-size: var(--font-size-desktop-caption);
  font-weight: var(--font-weight-desktop-caption);
  line-height: var(--font-LH-desktop-caption);
  padding: 0;
}
.footer2__container11__socialIcons__icon img{
  width: 24px;
  height: 24px;
}
.footer2__container11__socialIcons__icon {
  width: 40px;
  height: 40px;
}
.containerfloat__tamdid img{
  width: 92px;
  height: 92px;
}
.containerfloat__support img{
  width: 72px;
  height: 72px;
}
}